
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/*Navbar*/
nav{
background-color: #353A40;
}

.barra-nav{
font-size:larger;
}

#link1{
color: #e7eaec;
}

#link5{
color: #11c249
}

#links{
color: #90959A
}

/*Seccion Aysa*/
.Aysa{
background-image: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/ba1.jpg);
 width: 100%;
 height: 100vh;
 background-size: cover;
 background-position: center;
 padding: 0.1%;
 }
  
 .texto-foto{
 width: 45%;
 flex-direction: column;
 text-align: right;
 color: white;
 margin-right: 5%;
 margin-top: 22%;
 }
 
 .Aysa a{
 text-decoration: none;
 }
 
 .titulo{
 font-size: xx-large;
 margin-right: 7%;
 }
 
 .parrafo{
 font-weight: 400;
 font-size: large;
 width: 90%;
 margin-left: 3%;
 }
 
 .enlaces{
 margin-right: 7%;
 }
 
 /*Header hasta tablets*/
 @media (max-width: 768px){
 .header{
 height: 100vh;}
  
 .container{
 width: 100%;
 margin-top: 40vh;
 margin-right: 5%;
 padding: 0 20px;}
 }
 
 /*Header de tablets a portatiles*/
 @media (min-width: 768px) and (max-widht: 992px){
 .header{
 height: 100vh;}
 
 .container{
 width: 100%;
 margin-top: 40vh;
 margin-right: 5%;
 padding: 0 20px;}
 
 }
 
 .boton1{
 padding: 1.5% 2%;
 border-radius: 5%;
 font-size: large;
 font-weight:400;
 border-color: white;
 background-color: rgba(86, 86, 86, 0.056);
 color: rgb(255, 255, 255);
 margin-right: 2%;
 }
 
 .boton2{
 padding: 1.5% 2%;
 font-size: large;
 font-weight: 400;
 background-color: #28A744;
 color: white;
 border-radius: 5%;
 margin-right: 1%;
 }

 /*Seccion oradores*/
#small{
font-size: small;
}

#js{
background-color:#FFC105; 
color: rgb(0, 0, 0); 
border-radius: 10%; 
font-weight: bold; 
padding: 0 1%;
}

#react{
background-color:#1EA0B2; 
color: rgb(255, 255, 255); 
border-radius: 10%; 
font-weight: bold;
padding:0 1% ;
}

#negocios{
color: white;
background-color: #6C7680;
border-radius: 10%;
font-weight:bold ;
padding:0 1%;
}

#startups{
color: white;
background-color: #D4364B;
border-radius: 10%;
font-weight: bold;
padding:0 1%;
}

/*Oradores*/
#nombres{
font-size: x-large;
font-weight:600 ;
}

/*Descripcion de cada orador*/
#info{
padding-left: 5%;
}

/*Seccion Playa-Texto*/

#fondo{
background-color: #353A40
 }
 
 .texto-bsas{
 font-size: 85%;
 }

 .boton-bsas{
 background-color: #353a405b;
 border-color: white;
 border: ridge;
 color: white;
 margin-left: 2.5%;
 padding: 0.5% 1%;
 border-radius: 5%;
 }

 /*Seccion Formulario*/
.subtitulo{
justify-content:center;
text-align: center;
}

#subrayado{
border-bottom: dotted  ;
}

#enviar{
background-color: #96C93E;
border: none;
}

/*Footer*/
footer{
background-color: #1E516E;
}

footer ul li {
font-weight: 400;
font-size: medium;
}